@import 'Foundation.scss';
@import 'Loader.scss';

.row {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt",sans-serif;
  text-transform: uppercase;
}

body {
  font-family: "proxima nova", sans-serif;
}

@media (min-width: 40em) {
  .row {
    padding-right: 15px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 50px;
}

.epic-hat {
  padding: 15px 0 0 15px;
  @media (max-width: 639px) {
    padding: 0;
  }
}
